In [1]:
import prince

dataset = prince.datasets.load_premier_league()
dataset = dataset.loc[:, ['2023-24']]
dataset.columns = dataset.columns.droplevel(0)
dataset.columns = [
    "Wins", "Draws", "Losses",
            "Goals", "Conceded", "Points"
]
dataset.columns.name = 'Result'
dataset.sample(4, random_state=47)

Result           Wins  Draws  Losses  Goals  Conceded  Points
Team
Chelsea            18      9      11     77        63      63
Crystal Palace     13     10      15     57        58      49
Brentford          10      9      19     56        65      39
West Ham United    14     10      14     60        74      52

In [2]:
ca = prince.CA(
    n_components=2, n_iter=100,
    copy=True, check_input=True,
    engine='sklearn', random_state=47
)

ca.fit(dataset)

In [3]:
ca.eigenvalues_summary

          eigenvalue % of variance % of variance (cumulative)
component
0              0.048        89.67%                     89.67%
1              0.002         4.31%                     93.98%

In [4]:
ca.row_coordinates(dataset).sample(2)

                          0         1
Team
Manchester United -0.055006  0.039662
Chelsea           -0.002607 -0.005939

In [5]:
ca.column_coordinates(dataset).sample(2)

               0         1
Result
Draws  -0.196825 -0.230987
Losses -0.472415  0.059360

In [6]:
chart = ca.plot(
    dataset,
    x_component=0,
    y_component=1,
    show_row_markers=True,
    show_column_markers=True,
    show_row_labels=True,
    show_column_labels=True
)

chart = chart.properties(
    width=400,
    height=300,
)

chart.save('correspondence_analysis.png', ppi=300)